.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgb(191, 150, 150),white);
  background-repeat: no-repeat;
  height: 700px;
}
#btn0::placeholder{
  font-size: 15px;
  font-family: cursive;

}
#nom{
  border: 0px solid transparent;
  border-bottom: 1px solid black;
  background-color: none;
  border-radius: 0px;
  outline: none !important;
  
}
#nom::placeholder {
  font-size: 15px;
  font-family: cursive;
  
}

#tel{
  border: 0px solid transparent;
  border-bottom: 1px solid black;
  background-color: none;
  border-radius: 0px;
  outline: none !important;
}
#tel::placeholder {
  font-size: 15px;
  font-family: cursive;
}


#ville{
  border: 0px solid transparent;
  border-bottom: 1px solid black;
  background-color: none;
  border-radius: 0px;
  outline: none !important;
}
#ville::placeholder {
  font-size: 15px;
  font-family: cursive;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
